.navbar{
	background-color:#40868b;
	padding:1% 7%;
	text-align:center;
}
.navbar a{
	text-decoration:none;
	color:white;
	font-size:1rem;
	padding:10px 20px;
	cursor:point;	
}
.container{
	display:inline;
	position:relative;
}
.contain a{
	display:block;
}
.contain a:hover{
	display:block;
	background-color:gray;
}
.contain{
	position:absolute;
	top:30px;
	right:0px;
	background-color:#40868b;
	text-align:left;
	min-width:100px;
	display:none;
}
.container:hover .contain{
	display:block;
}